<nav class="navbar bg-body-tertiary vh-100 position-fixed">
    <div class="container-fluid flex-column align-items-start px-0 h-100">
      <div class="div">
        <a class="navbar-brand pb-6 ps-6" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="#"></a>     
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link pb-4 ps-6 fw-bold text-dark" href="#"><span class="material-icons align-bottom pe-3">assessment</span>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pb-4 ps-6 fw-bold text-dark" href="#"><span class="material-icons align-bottom pe-3">question_answer</span>Question</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pb-4 ps-5 fw-bold active border-start border-4 border-success text-success" href="#"><span class="material-icons align-bottom pe-3">assignment</span>Assignment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pb-4 ps-6 fw-bold text-dark" href="#"><span class="material-icons align-bottom pe-3">video_library</span>Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pb-4 ps-6 fw-bold text-dark" href="#"><span class="material-icons align-bottom pe-3">supervisor_account</span>Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-6 fw-bold text-dark" href="#"><span class="material-icons align-bottom pe-3">settings</span>Settings</a>
          </li>
        </ul>  
      </div>
      <div class="d-flex align-items-center ms-6 mb-6">
        <div class="flex-shrink-0">
          <img src="../assets/images/andychen.jpeg" class="rounded-circle object-fit-cover" alt="#" width="40" height="40">
        </div>
        <div class="flex-grow-1 ms-3">
          <h6 class="fw-bold text-dark">Andy Chen</h6> 
          <p class="fs-7 text-secondary">andy0401@mail.com</p>
        </div>
      </div>    
    </div>
   
</nav>